body {
	margin: 1em auto;
	max-width: 50em;
	width: 88%;
	font-family: "PT Sans", sans-serif;
}

h1 {
	font-family: "PT Serif", serif;
}

figure {
	margin: 0;
}

/**
 * Grid Layout
 */

@media (min-width: 20em) {
	#photos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 2em;
		grid-row-gap: 2em;
	}
}

@media (min-width: 32em) {
	#photos {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 42em) {
	#photos {
		grid-template-columns: repeat(4, 1fr);
	}
}

/**
 * Nav Menu
 */

.nav {
	padding: 1em 0;
}

.nav a {
	text-decoration: none;
}

.nav a:focus,
.nav a:hover {
	text-decoration: underline;
}

.logo {
	font-family: "PT Serif", serif;
	font-weight: bold;
}

/**
 * Footer
 */

footer {
	border-top: 1px solid #e5e5e5;
	margin-top: 5em;
	font-style: italic;
}

/**
 * Responsive Images
 */

img {
	height: auto;
	max-width: 100%;
}
